@media (min-width:540px) and (max-width: 1170px) {
 .preloader {
  width: $containerWidthTablet;
  height: $headerTabletHeight;
  left: $leftTablet;
 }
}
@media (max-width: 540px) {
 .preloader {
  width: $containerWidthMobile;
  left: $leftMobile;
 }
}