@font-face {
	font-family: 'BodoniB';
	src: url('/assets/fonts/BOD72B.ttf');
}
@font-face {
	font-family: 'BodoniW';
	src: url('/assets/fonts/BOD72W.ttf');
}
@font-face {
	font-family: 'helveticaLight';
	src: url('/assets/fonts/HelveticaNeueCyr-Light.otf');
}
@font-face {
	font-family: 'helveticaReg';
	src: url('/assets/fonts/HelveticaNeueCyr-Roman.otf');
}
@font-face {
	font-family: 'timesNewRoman';
	src: url('/assets/fonts/TimesNewRomanRegular.ttf');
}
@font-face {
	font-family: 'Athelas';
	src: url('/assets/fonts/Athelas-Bold.ttf');
}